@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #FFFFFF;
    --color-secondary: #FFFFFF;
    --color-info: #A44AFF;
    --color-warning: #F9B091;
    --color-font-primary: #672CBC;
    --color-font-secondary: #8789A3;
    --color-font-info: #863ED5;
    --color-button-font1: #FFFFFF;
    --color-image-font: #FFFFFF;
    --color-header-font: #672CBC;
    --color-menu-font: #8789A3;
    --color-menu-font-active: #672CBC;
    --color-separator: #BBC4CE;
    --color-separator2: rgba(187, 196, 206, 0.35);
    --color-separator3: rgba(255, 255, 255, 0.35);
    --color-tab-active: #A44AFF;
    --color-tab-inactive: rgba(135, 137, 163, 0.1);
    --color-loader: #8789A3;
    --shadow-bottombar: 0px -4px 16px rgba(186, 176, 206, 0.2);
  }

  .theme-dark {
    --color-primary: #040C23;
    --color-secondary: #121931;
    --color-info: #A44AFF;
    --color-warning: #F9B091;
    --color-font-primary: #FFFFFF;
    --color-font-secondary: #A19CC5;
    --color-font-info: #A44AFF;
    --color-button-font1: #091945;
    --color-image-font: #FFFFFF;
    --color-header-font: #FFFFFF;
    --color-menu-font: #A19CC5;
    --color-menu-font-active: #A44AFF;
    --color-separator: rgba(187, 196, 206, 0.35);
    --color-separator2: rgba(123, 128, 173, 0.35);
    --color-separator3: rgba(255, 255, 255, 0.35);
    --color-tab-active: #A44AFF;
    --color-tab-inactive: rgba(135, 137, 163, 0.1);
    --color-loader: #A19CC5;
    --shadow-bottombar: 0 0 #0000;
  }
}


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */